{% extends 'base.html' %}
{% block content %}
<form action="" method="POST" id="pinform">
{% csrf_token %}
<label for="acc_no" id="acc">Account No</label>
<input type="number" name="acc_no" id="acc_no" required>
<label for="mobile">Mobile</label>
<input type="number" name="mobile" id="mobile" required> 

<label>Pin</label>
<div class="pin-container">
    <input type="number" class="pin-input" name="pin1" min="0" max="9" maxlength="1" required>
    <input type="number" class="pin-input" name="pin2" min="0" max="9" maxlength="1" required>
    <input type="number" class="pin-input" name="pin3" min="0" max="9" maxlength="1" required>
    <input type="number" class="pin-input" name="pin4" min="0" max="9" maxlength="1" required>
    <i class="fas fa-eye toggle-password"></i>
</div>

<label>Confirm Pin</label>
<div class="pin-container">
    <input type="number" class="pin-input" name="confirm_pin1" min="0" max="9" maxlength="1" required>
    <input type="number" class="pin-input" name="confirm_pin2" min="0" max="9" maxlength="1" required>
    <input type="number" class="pin-input" name="confirm_pin3" min="0" max="9" maxlength="1" required>
    <input type="number" class="pin-input" name="confirm_pin4" min="0" max="9" maxlength="1" required>
    <i class="fas fa-eye toggle-password"></i>
</div>

<button type="submit" id="bton">Submit</button>
</form>


{% endblock %}